# exclude anything that shouldn't be at the root
/bin
/.go
/.container-*
/.dockerfile-*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Omit local environment variable config files
.envrc

# exclude python cache from db
/db/migrations/__pycache__
